body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("nightsky.png");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

body, .title{
  color: blue;
  text-align: right;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  text-align: center;
}
.dancer{
  content: url("hienwow.png");
  border: 0px;
  border-radius: 0px;
  width: 250px;
  height: 250px;
  position:absolute;

}

.dancer2:hover {
  content: url("hienhover.png");
}

.dancer2{
  content: url("hienhands.png");
  border: 0px;
  border-radius: 0px;
  width: 250px;
  height: 250px;
  position:absolute;
  -webkit-animation: spin 4s infinite linear;
}
@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}   
}

.dancer3{
  content: url("hiendance.gif");
  border: 0px;
  border-radius: 0px;
  width: 200px;
  height: 240px;
  position:absolute;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}